# Python cache
__pycache__/
*.py[cod]
*$py.class


# Build artifacts
build/
dist/
*.egg-info/

# IDE
.vscode/

# Env files
.env

# Local database
*.db

# Test cache
.pytest_cache/
